.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    text-align: right;
    z-index: 5000;
}

body>.container {
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
}

.container .text-muted {
    margin: 20px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
}

.feature_name {
    font-size: 20px;
}

.slider_div {
    padding-top: 10px;
    margin-right: 20px;
}

.search {
    background-color: rgba(128, 128, 128, 0.3);
    padding-top: 40px;
}

.name_slider{
    margin-bottom: 50px;
}